{% extends "home/base.html" %}
{% load static %}
{% block body %}

<style>
  .profile-photo {
    width: 100%;
  }

  .timeline-cover {
    background: url("{% static 'images/covers/1.jpg' %}") no-repeat;
  }

  .folow_section {
    line_height : 30px;
  }

  #form-control-post {
    max-width: 270px;
    max-height: 70px;
    min-width: 270px;
    min-height: 70px;
  }
</style>

{% if signup  %}
<div class="alert alert-success" role="alert">
  <strong>{{signup}}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
<div class="container">

  <div class="timeline">
    <div class="timeline-cover">


      <div class="timeline-nav-bar hidden-sm hidden-xs">
        <div class="row">
          <div class="col-md-3">
            <div class="profile-info">
              {% if profile_img %}
              <img src="/media/{{profile_img}}" alt="" class="img-responsive profile-photo" />
              {% else %}
              <img src="{% static 'images/add-photo-male.png' %}" alt="" class="img-responsive profile-photo" />
              {% endif %}
              {% if profilefname and profilelname %}
              <h3>{{profilename.fname}} &nbsp;{{profilename.lname}}</h3>
              {% endif %}
              <p class="text-muted">Creative Director</p>
            </div>
          </div>
          <div class="col-md-9">
            <ul class="list-inline profile-menu">
              <li><a href="timeline.html" class="active">Timeline</a></li>
              <li><a href="timeline-about.html">About</a></li>
              <li><a href="timeline-album.html">Album</a></li>
              <li><a href="timeline-friends.html">Friends</a></li>
            </ul>
            <ul class="follow-me list-inline">
              {% if following %}
              <li>{{follwing}} Followers</li>
              {% else %}<li> <span class="folow_section">0 &nbsp; Followers </span></li>
              {% endif %}

              <li>
                <button type="submit" id="prof-upload" class="btn btn-primary">
                  Edit Profile</button>
              </li>
            </ul>
          </div>
        </div>
      </div>


      <div class="navbar-mobile hidden-lg hidden-md">
        <div class="profile-info">
          <img src="/media/{{profile_img}}" alt="" class="img-responsive profile-photo" />
          <h4>{{friendname.fname}} &nbsp;{{friendname.lname}}</h4>
          <p class="text-muted">Creative Director</p>
        </div>
        <div class="mobile-menu">
          <ul class="list-inline">
            <li><a href="timline.html" class="active">Timeline</a></li>
            <li><a href="timeline-about.html">About</a></li>
            <li><a href="timeline-album.html">Album</a></li>
            <li><a href="timeline-friends.html">Friends</a></li>
          </ul>
          <button class="btn-primary">Edit Profile</button>
        </div>
      </div>
      <!--Timeline Menu for Small Screens End-->

    </div>
    <div id="page-contents">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-7">

          <!-- Post Create Box
              ================================================= -->
          <form action="/profile/post/" method = 'POST'>
            {% csrf_token %}
            <div class="create-post">
              <div class="row">
                <div class="col-md-7 col-sm-7">
                  <div class="form-group">
                    <img src="/media/{{profile_img}}" alt="" class="profile-photo-md" />
                    <textarea name="posttext" required id="form-control-post" cols="30" rows="1"
                      class="form-control" placeholder="Write what you wish"></textarea>
                  </div>
                </div>
                <div class="col-md-5 col-sm-5">
                  <div class="tools">
                    <ul class="publishing-tools list-inline">
                      <li><a href="#"><i class="ion-compose"></i></a></li>
                      <li><a href="#"><i class="ion-images"></i></a></li>
                      <li><a href="#"><i class="ion-ios-videocam"></i></a></li>
                      <li><a href="#"><i class="ion-map"></i></a></li>
                    </ul>
                    <button type="submit" class="btn btn-primary pull-right">Publish</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <!-- Post Create Box End-->

          <!-- Post Content
              ================================================= -->
          {% for i in sesion reversed %}
          <div class="post-content">
            <!--Post Date-->
            <div class="post-date hidden-xs hidden-sm">
              <h5>{{profilefname}} &nbsp;{{profilelname}} </h5>
              <p class="text-grey">{{user_post_date}}</p>
            </div>
            {% if i.post_img %}
            <img src="/media/{{i.post_img}}" alt="post-image" class="img-responsive post-image" />
             {% endif %}
            <div class="post-container">
               <img src="{% static 'images/add-photo-male.png' %}" alt="user" class="profile-photo-md pull-left"/>

              <div class="post-detail">
                    <div class="user-info">
                      <h5><a href="{% url 'anothers_timeline' %}" class="profile-link">{{profilefname}} &nbsp;{{profilelname}}</a> <span class="following">following</span></h5>
                      <p class="text-muted">{{i.pub_date}}</p>
                    </div>
                    <div class="reaction">
                      <a href="/profile/post_like/{{i.sno}}" class="btn text-success"><i class="fa fa-thumbs-up"></i>{{i.likes.count}}</a>
                      <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 0</a>
                    </div>
                    <div class="line-divider"></div>
                    <div class="post-text">
                      <p>
                        {{i.status}}<br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <i class="em em-anguished"></i> <i class="em em-anguished"></i> <i class="em em-anguished"></i></p>
                    </div>
                    <div class="line-divider"></div>
                    <div class="post-comment">
                      <img src="images/users/user-11.jpg" alt="" class="profile-photo-sm">
                      <p><a href="timeline.html" class="profile-link">Diana </a><i class="em em-laughing"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                    </div>
                    <div class="post-comment">
                      <img src="images/users/user-4.jpg" alt="" class="profile-photo-sm">
                      <p><a href="timeline.html" class="profile-link">John</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                    </div>
                    <div class="post-comment">
                      <img src="images/users/user-1.jpg" alt="" class="profile-photo-sm">
                      <input type="text" class="form-control" placeholder="Post a comment">
                    </div>
                  </div>
            </div>
          </div>
          {% endfor %}

        </div>

        <div class="col-md-2 static">
          <div id="sticky-sidebar">
            <h4 class="grey">Friend-List</h4>
            <div class="feed-item">
              <div class="live-activity">
                <p><a href="#" class="profile-link">{{name}}</a> Commended on a Photo</p>
                <p class="text-muted">5 mins ago</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- ===============footer start -->
<footer id="footer">
  <div class="container">
      <div class="row">
          <div class="footer-wrapper">
              <div class="col-md-3 col-sm-3">
                  <a href=""><img src="images/logo-black.png" alt="" class="footer-logo" /></a>
                  <ul class="list-inline social-icons">
                      <li><a href="#"><i class="icon ion-social-facebook"></i></a></li>
                      <li><a href="#"><i class="icon ion-social-twitter"></i></a></li>
                      <li><a href="#"><i class="icon ion-social-googleplus"></i></a></li>
                      <li><a href="#"><i class="icon ion-social-pinterest"></i></a></li>
                      <li><a href="#"><i class="icon ion-social-linkedin"></i></a></li>
                  </ul>
              </div>
              <div class="col-md-2 col-sm-2">
                  <h6>For individuals</h6>
                  <ul class="footer-links">
                      <li><a href="">Signup</a></li>
                      <li><a href="">login</a></li>
                      <li><a href="">Explore</a></li>
                      <li><a href="">Finder app</a></li>
                      <li><a href="">Features</a></li>
                      <li><a href="">Language settings</a></li>
                  </ul>
              </div>
              <div class="col-md-2 col-sm-2">
                  <h6>For businesses</h6>
                  <ul class="footer-links">
                      <li><a href="">Business signup</a></li>
                      <li><a href="">Business login</a></li>
                      <li><a href="">Benefits</a></li>
                      <li><a href="">Resources</a></li>
                      <li><a href="">Advertise</a></li>
                      <li><a href="">Setup</a></li>
                  </ul>
              </div>
              <div class="col-md-2 col-sm-2">
                  <h6>About</h6>
                  <ul class="footer-links">
                      <li><a href="">About us</a></li>
                      <li><a href="">Contact us</a></li>
                      <li><a href="">Privacy Policy</a></li>
                      <li><a href="">Terms</a></li>
                      <li><a href="">Help</a></li>
                  </ul>
              </div>
              <div class="col-md-3 col-sm-3">
                  <h6>Contact Us</h6>
                  <ul class="contact">
                      <li><i class="icon ion-ios-telephone-outline"></i>+1 (234) 222 0754</li>
                      <li><i class="icon ion-ios-email-outline"></i>info@thunder-team.com</li>
                      <li><i class="icon ion-ios-location-outline"></i>228 Park Ave S NY, USA</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <div class="copyright">
      <p>Thunder Team © 2016. All rights reserved</p>
  </div>
</footer>


{% endblock %}